<header>
    <div class="header">
        <div class="header__logo">
            <a href="@Url.Action("Index", "Home")">
                <img src="~/images/logo.png" alt="Ventixe Logo" />
            </a>
        </div>
        <nav class="header__nav">
            <ul>
                <li><a href="@Url.Action("Index", "Home")">Dashboard</a></li>
                <li><a href="@Url.Action("Booking", "Home")">Booking</a></li>
                <li><a href="@Url.Action("Invoices", "Home")">Invoices</a></li>
                <li><a href="@Url.Action("Events", "Home")">Events</a></li>
            </ul>
        </nav>
    </div>
</header>