@{

}


<div class="sidebar">
    <a class="logotype" href="@Url.Content("~/")">
        <img src="images/Icon/Ventixe_logo.svg" />
        <span>Ventixe</span>
    </a>


        <nav class="nav-links">
            <a class="nav-link @(Context.Request.Path == "/" ? "active" : "")" asp-controller="Home" asp-action="Index">
                <img src="~/images/Icon/Nav/Dashboard.svg" />
                <span>Dashboard</span>
            </a>
            <a class="nav-link @(Context.Request.Path == "/bookings" ? "active" : "")" asp-controller="Booking" asp-action="Index">
                <img src="~/images/Icon/Nav/CheckSquare.svg" />
                <span>Bookings</span>
            </a>
            <a class="nav-link @(Context.Request.Path == "/invoices" ? "active" : "")" asp-controller="Invoices" asp-action="Index">
                <img src="~/images/Icon/Nav/Invoice.svg" />
                <span>Invoices</span>
            </a>
            <a class="nav-link @(Context.Request.Path == "/events" ? "active" : "")" asp-controller="Events" asp-action="Index">
                <img src="~/images/Icon/Nav/Ticket.svg" />
                <span>Events</span>
            </a>

        </nav>
</div>